In [4]:
import pandas as pd
from datetime import datetime as dt

In [5]:
df_users = pd.read_csv('./data/users.csv')

In [6]:
df_users['created_datetime'] = dt.now()

In [7]:
df_users.head()

,id,firstname,lastname,email,email2,profession,age,created_datetime
0,100,Glenda,Pyle,Glenda.Pyle@yopmail.com,Glenda.Pyle@gmail.com,firefighter,25.0,2024-04-23 21:15:36.925880
1,101,Hollie,Allys,Hollie.Allys@yopmail.com,Hollie.Allys@gmail.com,worker,26.0,2024-04-23 21:15:36.925880
2,102,Grier,Henrie,Grier.Henrie@yopmail.com,Grier.Henrie@gmail.com,doctor,23.0,2024-04-23 21:15:36.925880
3,103,Kittie,Strephon,Kittie.Strephon@yopmail.com,Kittie.Strephon@gmail.com,worker,45.0,2024-04-23 21:15:36.925880
4,104,Kassey,Prober,Kassey.Prober@yopmail.com,Kassey.Prober@gmail.com,worker,45.0,2024-04-23 21:15:36.925880

In [11]:
df_users.to_csv('./data/raw/csv/users.csv', index=False)

In [14]:
df_users.to_json('./data/raw/json/users.json', orient='records')