In [2]:
nome = 'Bob'

In [4]:
idade = 20

In [8]:
# format
frase_format = "Olá, meu nome é: {} e tenho {} anos".format(nome, idade)

In [9]:
frase_format

'Olá, meu nome é: Bob e tenho 20 anos'

In [28]:
frase_f_strings = f"Olá, meu nome é: {nome}, tenho {idade} anos"

In [11]:
frase_f_strings

'Olá, meu nome é: Bob e tenho 20 anos'

In [22]:
sql = f""""
  select *
   from tabela
   where nome = { nome }
"""

In [23]:
sql

'"\n  select *\n   from tabela\n   where nome = Bob\n'

In [24]:
frase_upper = frase_f_strings.upper()

In [25]:
frase_upper

'OLÁ, MEU NOME É: BOB E TENHO 20 ANOS'

In [26]:
frase_lower = frase_f_strings.lower()

In [27]:
frase_lower

'olá, meu nome é: bob e tenho 20 anos'

In [33]:
# split
frase_split = frase_f_strings.split(",")

In [34]:
frase_split

['Olá', ' meu nome é: Bob', ' tenho 20 anos']

In [35]:
# length
frase_length = len(frase_f_strings)

In [36]:
frase_length

35

In [37]:
# join
frase_join = "".join(frase_split)

In [38]:
frase_join

'Olá meu nome é: Bob tenho 20 anos'

In [44]:
# Start ou endwith
comeca_com_ola = frase_join.startswith("Olá minha")

In [45]:
comeca_com_ola

False

In [49]:
# contains
contem_bob = 'Bob' in frase_join

In [50]:
contem_bob

True