In [2]:
nome = 'Bob'

In [4]:
idade = 20

In [8]:
# format
frase_format = "Olá, meu nome é: {} e tenho {} anos".format(nome, idade)

In [9]:
frase_format

'Olá, meu nome é: Bob e tenho 20 anos'

In [10]:
frase_f_strings = f"Olá, meu nome é: {nome} e tenho {idade} anos"

In [11]:
frase_f_strings

'Olá, meu nome é: Bob e tenho 20 anos'

In [13]:
sql = f"""
select * from tabela where nome = {nome}
"""

In [19]:
sql

'\n    select *\n'