In [1]:
import sqlite3

In [19]:
conn = sqlite3.connect('./database/sqlite/test.db')

In [4]:
conn.execute(
    """
        CREATE TABLE IF NOT EXISTS EMPRESA(
            ID INT PRIMARY  KEY       NOT NULL,
            NOME            TEXT      NOT NULL,
            ENDERECO        CHAR(50),
            LIMITE_CREDITO  REAL      NOT NULL
        );
    """)

In [9]:
conn.execute(
    """
        INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
        VALUES (2, 'EMPRESA_X', 'BRAZIL', 20000.00 );
    """)

In [12]:
conn.execute(
    """
        INSERT INTO EMPRESA (ID, NOME, ENDERECO, LIMITE_CREDITO)
        VALUES (1, 'EMPRESA_Y', 'BRAZIL', 25000.00 );
    """)

In [20]:
cursor = conn.execute("SELECT id, nome, endereco, limite_credito from EMPRESA;")

for row in cursor:
   print(f"row: {row}")

conn.commit()

row: (3, 'EMPRESA_H', 'BRAZIL', 20000.0)
row: (4, 'EMPRESA_R', 'BRAZIL', 25000.0)
row: (2, 'EMPRESA_X', 'BRAZIL', 20000.0)
row: (1, 'EMPRESA_Y', 'BRAZIL', 25000.0)

In [21]:
conn.close()